<mat-card class="search-card">
  <mat-form-field class="full-width">
    <input type="text" matInput placeholder="Barcode" [ngModel]="barcode" (ngModelChange)="onChange($event)" id="barcode" #msgFocus>
    <mat-icon matSuffix (click)="lookupBarcode()">search</mat-icon>
  </mat-form-field>
</mat-card>


<mat-accordion>
  <mat-expansion-panel *ngFor="let item of barcodes.items" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ item.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field class="full-width">
      <input matInput placeholder="Barcode" [value]="item.ean" disabled>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Title" [value]="item.title" disabled>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Description" [value]="item.description" disabled>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Brand" [value]="item.brand" disabled>
    </mat-form-field>
  </mat-expansion-panel>

</mat-accordion>
